In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('C:/Neville/Python/Session/Module 3/bank-data.csv')

In [3]:
dataset.head()

   age          job  marital    y
0   20      student   single  yes
1   32   management   single  yes
2   49   technician  married  yes
3   32  blue-collar  married  yes
4   33   management  married  yes

In [9]:
dataset.groupby(['job']).size()

job
admin.            58
blue-collar       69
entrepreneur      15
housemaid         14
management       131
self-employed     20
services          38
student           19
technician        83
dtype: int64

In [ ]:
dataset.head()

In [5]:
unique_job=dataset.job.unique()

In [7]:
profession_inp=input('Enter profession:')
while(profession_inp)!='END':
    if profession_inp.lower() in unique_job:
        print('Client is eligible')
    else:
        print('Client is not eligible')
    profession_inp=input('Enter profession:')

Enter profession:admin.
Client is eligible
Enter profession:student
Client is eligible
Enter profession:ad
Client is not eligible
Enter profession:admin.
Client is eligible
Enter profession:admin
Client is not eligible
Enter profession:end
Client is not eligible
Enter profession:END

In [11]:
agedict={}
agedict['min']=dataset['age'].min()
agedict['max']=dataset['age'].max()

In [12]:
agedict

{'min': 19, 'max': 80}